@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
    height: 100%;
    width: 350px;
    min-height: 61px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 64px;
    width: 100%;
    z-index: 2;
    opacity: 0.45;
}

.add {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 2;
}


.add:hover{
    border: 1px solid black;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #ffdd00 0%, #fbb034 74%);
    transform: scale(1.05);
    
}

.task {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    /* background-color: white; */
    box-shadow:0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 25px 20px;
    height: 177px;
    width: 300px;
    
}
.task .tools{
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    
}

.task .tools button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.task .tools button:hover{
    transform: scale(1.5);
    
}


.task textarea {
    outline:none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 150px;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    z-index: -2;
}
.hidden{
    /* display: none; */
    pointer-events: none;
}
